<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Best Cars Dealership - Contacts</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    </head>
    <body>
    <!--Add a nav bar here -->
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="">Best Cars Dealerships</a>
                </div>
                <a class="nav navbar-nav" class="active" href="about">About</a>
                <a class="nav navbar-nav" href="contact">Contact Us</a>
            </div>
        </nav>
        <div class="container">
            <h1>Contact Us</h1>
            <p>Our phone number is the easiest to remember: 123</p>
            <p>Our email is not: spihsrelaed.srac.tseb@liam.moc</p>
        </div>
    </body>
</html> 